*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input{
  width: 80%;
  height: 45px;
  border : 2.3px solid black;
  font-weight: 700;
  font-size: 20px;
 
}
.container{
  display: block;
  flex-direction: column;

}
.add-row{
 min-width: 85px;
 margin-right: 280px;
   margin-top: -2px;
   min-height: 45.8px;
  
 
}

.error {
  color: red;
  font-weight: 600;
  margin-left: -290px;
  margin-bottom: 28px;
 font-size: 25px;
}
